POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=ivorioci
DATABASE_URL=postgres://root:root@db:5432/ivorioci?schema=public&sslmode=disable
JWT_ACCESS_SECRET=APzGUowtKWYs3rvez83OYcMMfWhBa3ccjSAdBhb0BkM=
JWT_REFRESH_SECRET=460B35/dz3rkfZQoQuWAbYIF4JLzCGO6lehbyg9SO7w=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
PUBLIC_BASE_URL=http://localhost:3000/api
STREAM_SERVICE_URL=http://stream-service:8080
GATEWAY_PORT=3000
STREAM_PORT=8080
NODE_ENV=production
GO_ENV=production
LOG_LEVEL=info
VIDEO_STORAGE_PATH=/app/storage/videos
THUMBNAIL_STORAGE_PATH=/app/storage/thumbnails
