LOG_LEVEL=debug

DATABASE_URL="postgres://root:root@localhost:5432/ivorioci?schema=public"
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=ivorioci

JWT_ACCESS_SECRET=access_secret_very_long_string_here
JWT_REFRESH_SECRET=460B35/dz3rkfZQoQuWAbYIF4JLzCGO6lehbyg9SO7w=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173

STREAM_SERVICE_URL=http://localhost:8080

VIDEO_STORAGE_PATH=./storage/videos
THUMBNAIL_STORAGE_PATH=./storage/thumbnails

PUBLIC_BASE_URL=http://localhost:3000/api
